<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>668999859230-4q1dc91dbgej83f4hk730o4l5n8e6hvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668999859230-4q1dc91dbgej83f4hk730o4l5n8e6hvr</string>
	<key>API_KEY</key>
	<string>AIzaSyDOgIudD3dpE2Rlv4-7UQveUfXKV0T3EJU</string>
	<key>GCM_SENDER_ID</key>
	<string>668999859230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.sakine.Hub</string>
	<key>PROJECT_ID</key>
	<string>hub-ios-ae0dc</string>
	<key>STORAGE_BUCKET</key>
	<string>hub-ios-ae0dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:668999859230:ios:eb18a65374a77021</string>
	<key>DATABASE_URL</key>
	<string>https://hub-ios-ae0dc.firebaseio.com</string>
</dict>
</plist>